#container{
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pixel, .row{
    background-color: white;
    display: flex;
    flex: 1;
}

.pixel{
    flex: 1 1 1%;
}
